<%= render partial: 'helpers/navbar', locals: { new_user: @new_user } %>

<div class="wuaki-library-container">

</div>


<script type="text/javascript">
  $(function () {
    var items = new Library.Collections.Items();
    items.reset(<%= @items %>);
    var userItems = new Library.Collections.
  })
</script>
